Repository fishjam-cloud/js-server-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format, typecheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint
        name: lint
        language: system
        types_or: [javascript, jsx, ts, tsx]
        entry: "yarn lint"
  - repo: local
    hooks:
      - id: format
        name: format
        language: system
        types_or: [javascript, jsx, ts, tsx]
        entry: "yarn format"
  - repo: local
    hooks:
      - id: typecheck
        name: typecheck
        language: system
        types_or: [ts, tsx]
        entry: "yarn typecheck"

Add wh notification decoding
  examples/room-manager/src/index.ts
  packages/js-server-sdk/src/index.ts
  packages/js-server-sdk/src/notifications.ts
  packages/js-server-sdk/src/webhook.ts
  packages/js-server-sdk/src/ws_notifier.ts
  packages/js-server-sdk/tests/notifications.test.ts
  packages/js-server-sdk/tests/webhook.test.ts
Due: lint, format, typecheck

Format
  packages/js-server-sdk/tests/webhook.test.ts
Due: lint, format, typecheck

release-0.28.0-rc.0
  examples/multimodal/package.json
  examples/room-manager/package.json
  examples/selective-subscription/backend/package.json
  examples/selective-subscription/frontend/package.json
  examples/selective-subscription/package.json
  examples/transcription/package.json
  package.json
  packages/fishjam-openapi/package.json
  packages/fishjam-proto/package.json
  packages/js-server-sdk/package.json
Due: none

Fix typedoc
  typedoc.json
Due: none

Fix CI
  .github/workflows/integration-tests.yaml
Due: none

Pre-bind notifier emit
  packages/js-server-sdk/src/ws_notifier.ts
  packages/js-server-sdk/tests/ws_notifier.test.ts
Due: lint, format, typecheck

Add wh notification decoding (#273)
  .github/workflows/integration-tests.yaml
  examples/room-manager/src/index.ts
  packages/js-server-sdk/src/index.ts
  packages/js-server-sdk/src/notifications.ts
  packages/js-server-sdk/src/webhook.ts
  packages/js-server-sdk/src/ws_notifier.ts
  packages/js-server-sdk/tests/notifications.test.ts
  packages/js-server-sdk/tests/webhook.test.ts
  packages/js-server-sdk/tests/ws_notifier.test.ts
  typedoc.json
Due: lint, format, typecheck

docs: make decodeServerNotifications @example self-contained
  packages/js-server-sdk/src/webhook.ts
Due: lint, format, typecheck

Fce 3416 webhook example fix (#274)
  packages/js-server-sdk/src/webhook.ts
Due: lint, format, typecheck

test(js-server-sdk): cover websocket notifier behavior
  packages/js-server-sdk/tests/ws_notifier.test.ts
Due: lint, format, typecheck

Fix copilot review
  packages/js-server-sdk/tests/ws_notifier.test.ts
Due: lint, format, typecheck

test(js-server-sdk): cover websocket notifier behavior (#275)
  packages/js-server-sdk/tests/ws_notifier.test.ts
Due: lint, format, typecheck

Add composition event bus
  packages/composition/src/eventBus.ts
  packages/composition/tests/eventBus.test.ts
Due: lint, format, typecheck

Scaffold @fishjam-cloud/composition package
  packages/composition/.prettierignore
  packages/composition/LICENSE
  packages/composition/README.md
  packages/composition/eslint.config.mjs
  packages/composition/package.json
  packages/composition/tsconfig.json
  yarn.lock
Due: lint, format

Add useCompositionEvent hook and provider
  packages/composition/src/context.tsx
  packages/composition/src/index.ts
  packages/composition/src/useCompositionEvent.ts
  packages/composition/tests/useCompositionEvent.test.tsx
Due: lint, format, typecheck

Add composition hooks and tests under js-server-sdk
  packages/js-server-sdk/src/composition/context.tsx
  packages/js-server-sdk/src/composition/eventBus.ts
  packages/js-server-sdk/src/composition/index.ts
  packages/js-server-sdk/src/composition/useCompositionEvent.ts
  packages/js-server-sdk/tests/composition/eventBus.test.ts
  packages/js-server-sdk/tests/composition/useCompositionEvent.test.tsx
Due: lint, format, typecheck

Expose composition as a js-server-sdk subpath and drop standalone package
  packages/composition/.prettierignore
  packages/composition/LICENSE
  packages/composition/README.md
  packages/composition/eslint.config.mjs
  packages/composition/package.json
  packages/composition/src/context.tsx
  packages/composition/src/eventBus.ts
  packages/composition/src/index.ts
  packages/composition/src/useCompositionEvent.ts
  packages/composition/tests/eventBus.test.ts
  packages/composition/tests/useCompositionEvent.test.tsx
  packages/composition/tsconfig.json
  packages/js-server-sdk/package.json
  packages/js-server-sdk/tsconfig.json
  yarn.lock
Due: lint, format, typecheck

Remove composition subpath from js-server-sdk
  packages/js-server-sdk/package.json
  packages/js-server-sdk/src/composition/context.tsx
  packages/js-server-sdk/src/composition/eventBus.ts
  packages/js-server-sdk/src/composition/index.ts
  packages/js-server-sdk/src/composition/useCompositionEvent.ts
  packages/js-server-sdk/tests/composition/eventBus.test.ts
  packages/js-server-sdk/tests/composition/useCompositionEvent.test.tsx
  packages/js-server-sdk/tsconfig.json
Due: lint, format, typecheck

Restore composition as a standalone package with review fixes
  .github/workflows/release.yaml
  packages/composition/.prettierignore
  packages/composition/LICENSE
  packages/composition/README.md
  packages/composition/eslint.config.mjs
  packages/composition/package.json
  packages/composition/src/context.tsx
  packages/composition/src/eventBus.ts
  packages/composition/src/index.ts
  packages/composition/src/useCompositionEvent.ts
  packages/composition/tests/eventBus.test.ts
  packages/composition/tests/useCompositionEvent.test.tsx
  packages/composition/tsconfig.json
  packages/composition/vitest.config.ts
  yarn.lock
Due: lint, format, typecheck

chore: bump version to 0.28.0
  examples/multimodal/package.json
  examples/room-manager/package.json
  examples/selective-subscription/backend/package.json
  examples/selective-subscription/frontend/package.json
  examples/selective-subscription/package.json
  examples/transcription/package.json
  package.json
  packages/fishjam-openapi/package.json
  packages/fishjam-openapi/src/generated/api.ts
  packages/fishjam-proto/package.json
  packages/js-server-sdk/package.json
Due: lint, format, typecheck

chore(fishjam-openapi): apply prettier to generated api.ts
  packages/fishjam-openapi/src/generated/api.ts
Due: lint, format, typecheck

fix(release): format generated code during version bump
  packages/fishjam-openapi/src/generated/base.ts
  packages/fishjam-openapi/src/generated/common.ts
  packages/fishjam-openapi/src/generated/configuration.ts
  packages/fishjam-openapi/src/generated/index.ts
  packages/fishjam-proto/src/fishjam/agent_notifications.ts
  packages/fishjam-proto/src/fishjam/notifications/shared.ts
  packages/fishjam-proto/src/fishjam/server_notifications.ts
  packages/fishjam-proto/src/index.ts
  release-automation/bump-version.sh
Due: lint, format, typecheck

Release v0.28.0 (#277)
  examples/multimodal/package.json
  examples/room-manager/package.json
  examples/selective-subscription/backend/package.json
  examples/selective-subscription/frontend/package.json
  examples/selective-subscription/package.json
  examples/transcription/package.json
  package.json
  packages/fishjam-openapi/package.json
  packages/fishjam-proto/package.json
  packages/js-server-sdk/package.json
Due: none

Switch useCompositionEvent to a return-style hook
  packages/composition/package.json
  packages/composition/src/context.tsx
  packages/composition/src/eventBus.ts
  packages/composition/src/index.ts
  packages/composition/src/useCompositionEvent.ts
  packages/composition/tests/eventBus.test.ts
  packages/composition/tests/useCompositionEvent.test.tsx
  packages/composition/vitest.config.ts
  yarn.lock
Due: lint, format, typecheck

Replace React hook with a global event-bus contract
  packages/composition/package.json
  packages/composition/src/context.tsx
  packages/composition/src/eventBus.ts
  packages/composition/src/index.ts
  packages/composition/src/useCompositionEvent.ts
  packages/composition/tests/eventBus.test.ts
  packages/composition/tsconfig.json
  yarn.lock
Due: lint, format, typecheck

Update moq api
  examples/multimodal/package.json
  examples/room-manager/package.json
  examples/selective-subscription/backend/package.json
  examples/selective-subscription/frontend/package.json
  examples/selective-subscription/package.json
  examples/transcription/package.json
  package.json
  packages/fishjam-openapi/package.json
  packages/fishjam-openapi/src/generated/api.ts
  packages/fishjam-openapi/src/generated/base.ts
  packages/fishjam-openapi/src/generated/common.ts
  packages/fishjam-openapi/src/generated/configuration.ts
  packages/fishjam-openapi/src/generated/index.ts
  packages/fishjam-proto/package.json
  packages/js-server-sdk/package.json
  packages/js-server-sdk/src/client.ts
  packages/js-server-sdk/tests/client.test.ts
Due: lint, format, typecheck

Trim composition config: drop .prettierignore and narrow eslint globals
  packages/composition/.prettierignore
  packages/composition/eslint.config.mjs
Due: lint, format

Update moq api
  packages/fishjam-openapi/src/generated/api.ts
  packages/js-server-sdk/src/client.ts
  packages/js-server-sdk/src/index.ts
  packages/js-server-sdk/tests/client.test.ts
Due: lint, format, typecheck

remove react from readme and keywords
  packages/composition/README.md
  packages/composition/package.json
Due: none

Add composition package (#276)
  .github/workflows/release.yaml
  packages/composition/LICENSE
  packages/composition/README.md
  packages/composition/eslint.config.mjs
  packages/composition/package.json
  packages/composition/src/index.ts
  packages/composition/tests/eventBus.test.ts
  packages/composition/tsconfig.json
  yarn.lock
Due: lint, format, typecheck

Update moq api (#279)
  examples/multimodal/package.json
  examples/room-manager/package.json
  examples/selective-subscription/backend/package.json
  examples/selective-subscription/frontend/package.json
  examples/selective-subscription/package.json
  examples/transcription/package.json
  package.json
  packages/fishjam-openapi/package.json
  packages/fishjam-openapi/src/generated/api.ts
  packages/fishjam-openapi/src/generated/base.ts
  packages/fishjam-openapi/src/generated/common.ts
  packages/fishjam-openapi/src/generated/configuration.ts
  packages/fishjam-openapi/src/generated/index.ts
  packages/fishjam-proto/package.json
  packages/js-server-sdk/package.json
  packages/js-server-sdk/src/client.ts
  packages/js-server-sdk/src/index.ts
  packages/js-server-sdk/tests/client.test.ts
Due: lint, format, typecheck

Release 0.29.0-rc0 composition
  packages/composition/package.json
Due: none

Release 0.29.0-rc0 composition (#280)
  packages/composition/package.json
Due: none

Add fishjam hooks to composition package
  packages/composition/package.json
  packages/composition/src/eventBus.ts
  packages/composition/src/hooks.ts
  packages/composition/src/index.ts
  packages/composition/src/internal.ts
  packages/composition/src/store.ts
  packages/composition/src/types.ts
  packages/composition/tests/hooks.test.ts
  packages/composition/tests/store.test.ts
  packages/js-server-sdk/src/index.ts
  packages/js-server-sdk/src/notifications.ts
  packages/js-server-sdk/src/types.ts
  packages/js-server-sdk/src/ws_notifier.ts
  packages/js-server-sdk/tests/notifications.test.ts
  packages/js-server-sdk/tests/webhook.test.ts
  packages/js-server-sdk/tests/ws_notifier.test.ts
  yarn.lock
Due: lint, format, typecheck

Format
  packages/composition/src/store.ts
  packages/js-server-sdk/tests/ws_notifier.test.ts
Due: lint, format, typecheck

Fix build ordering
  package.json
  packages/composition/src/store.ts
Due: lint, format, typecheck

Format
  packages/composition/src/store.ts
Due: lint, format, typecheck

Prevent unnecessary rerenders
  packages/composition/src/hooks.ts
  packages/composition/src/store.ts
  packages/composition/tests/hooks.test.ts
  packages/composition/tests/store.test.ts
Due: lint, format, typecheck
